WordClassBuilder/.vs/
WordClassBuilder/WordClassBuilder/bin/
WordClassBuilder/WordClassBuilder/obj/
WordsFromTheWorldWideWeb/.vs/
WordsFromTheWorldWideWeb/WordsFromTheWorldWideWeb/bin/
WordsFromTheWorldWideWeb/WordsFromTheWorldWideWeb/obj/
